body
{
	background-color: black;
	font-size: 20px;
	color: white;
}

h1
{
	color: #FF7F50;
	font-size: 40px;
	font-family: 'Playfair Display', serif;
}

#wstep
{
	height: auto;
}

#zdjecie1
{
	padding-top: 40px;
	height: auto;
}

#przyklad
{
	padding-top: 10px;
}

#zdjecie2
{
	width: auto;
	padding-top: 40px;
}

.tytul
{
	color: #FFA07A;
	font-size: 20px;
	letter-spacing: 2px;
	font-family: 'Playfair Display', serif;
}


/*linki*/
a:link
{
	color: #FF6347;
}
a:visited
{
	color: #FF6347;
}

a:hover 
{
	color: #FF4500;
}

/*pseudoelementy-punktowanie*/


/*kombinowane*/
div#ocena p
{
	color: #FF7F50;
	font-size: 20px;
	font-family: 'Playfair Display', serif;
}

